<!DOCTYPE html>
<html lang="en" style="height:100%;" ng-app="Destination" ng-controller="simCtrl">
<head>
    <meta charset="utf-8">
    <title>Destination</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Destination"/>
    <meta name="description" content="Destination"/>

    <script>/*! pace 1.0.0 */
    (function () {
        var a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z, A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X = [].slice, Y = {}.hasOwnProperty, Z = function (a, b) {
            function c() {
                this.constructor = a
            }

            for (var d in b)Y.call(b, d) && (a[d] = b[d]);
            return c.prototype = b.prototype, a.prototype = new c, a.__super__ = b.prototype, a
        }, $ = [].indexOf || function (a) {
                for (var b = 0, c = this.length; c > b; b++)if (b in this && this[b] === a)return b;
                return -1
            };
        for (u = {
            catchupTime: 100,
            initialRate: .03,
            minTime: 100,
            ghostTime: 100,
            maxProgressPerFrame: 20,
            easeFactor: 1.25,
            startOnPageLoad: !0,
            restartOnPushState: !0,
            restartOnRequestAfter: 100,
            target: "body",
            elements: {checkInterval: 100, selectors: ["body"]},
            eventLag: {minSamples: 10, sampleCount: 3, lagThreshold: 3},
            ajax: {trackMethods: ['GET', 'POST', 'PUT', 'DELETE', 'REMOVE'], trackWebSockets: true, ignoreURLs: []}
        }, C = function () {
            var a;
            return null != (a = "undefined" != typeof performance && null !== performance && "function" == typeof performance.now ? performance.now() : void 0) ? a : +new Date
        }, E = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame, t = window.cancelAnimationFrame || window.mozCancelAnimationFrame, null == E && (E = function (a) {
            return setTimeout(a, 50)
        }, t = function (a) {
            return clearTimeout(a)
        }), G = function (a) {
            var b, c;
            return b = C(), (c = function () {
                var d;
                return d = C() - b, d >= 33 ? (b = C(), a(d, function () {
                    return E(c)
                })) : setTimeout(c, 33 - d)
            })()
        }, F = function () {
            var a, b, c;
            return c = arguments[0], b = arguments[1], a = 3 <= arguments.length ? X.call(arguments, 2) : [], "function" == typeof c[b] ? c[b].apply(c, a) : c[b]
        }, v = function () {
            var a, b, c, d, e, f, g;
            for (b = arguments[0], d = 2 <= arguments.length ? X.call(arguments, 1) : [], f = 0, g = d.length; g > f; f++)if (c = d[f])for (a in c)Y.call(c, a) && (e = c[a], null != b[a] && "object" == typeof b[a] && null != e && "object" == typeof e ? v(b[a], e) : b[a] = e);
            return b
        }, q = function (a) {
            var b, c, d, e, f;
            for (c = b = 0, e = 0, f = a.length; f > e; e++)d = a[e], c += Math.abs(d), b++;
            return c / b
        }, x = function (a, b) {
            var c, d, e;
            if (null == a && (a = "options"), null == b && (b = !0), e = document.querySelector("[data-pace-" + a + "]")) {
                if (c = e.getAttribute("data-pace-" + a), !b)return c;
                try {
                    return JSON.parse(c)
                } catch (f) {
                    return d = f, "undefined" != typeof console && null !== console ? console.error("Error parsing inline pace options", d) : void 0
                }
            }
        }, g = function () {
            function a() {
            }

            return a.prototype.on = function (a, b, c, d) {
                var e;
                return null == d && (d = !1), null == this.bindings && (this.bindings = {}), null == (e = this.bindings)[a] && (e[a] = []), this.bindings[a].push({
                    handler: b,
                    ctx: c,
                    once: d
                })
            }, a.prototype.once = function (a, b, c) {
                return this.on(a, b, c, !0)
            }, a.prototype.off = function (a, b) {
                var c, d, e;
                if (null != (null != (d = this.bindings) ? d[a] : void 0)) {
                    if (null == b)return delete this.bindings[a];
                    for (c = 0, e = []; c < this.bindings[a].length;)e.push(this.bindings[a][c].handler === b ? this.bindings[a].splice(c, 1) : c++);
                    return e
                }
            }, a.prototype.trigger = function () {
                var a, b, c, d, e, f, g, h, i;
                if (c = arguments[0], a = 2 <= arguments.length ? X.call(arguments, 1) : [], null != (g = this.bindings) ? g[c] : void 0) {
                    for (e = 0, i = []; e < this.bindings[c].length;)h = this.bindings[c][e], d = h.handler, b = h.ctx, f = h.once, d.apply(null != b ? b : this, a), i.push(f ? this.bindings[c].splice(e, 1) : e++);
                    return i
                }
            }, a
        }(), j = window.Pace || {}, window.Pace = j, v(j, g.prototype), D = j.options = v({}, u, window.paceOptions, x()), U = ["ajax", "document", "eventLag", "elements"], Q = 0, S = U.length; S > Q; Q++)K = U[Q], D[K] === !0 && (D[K] = u[K]);
        i = function (a) {
            function b() {
                return V = b.__super__.constructor.apply(this, arguments)
            }

            return Z(b, a), b
        }(Error), b = function () {
            function a() {
                this.progress = 0
            }

            return a.prototype.getElement = function () {
                var a;
                if (null == this.el) {
                    if (a = document.querySelector(D.target), !a)throw new i;
                    this.el = document.createElement("div"), this.el.className = "pace pace-active", document.body.className = document.body.className.replace(/pace-done/g, ""), document.body.className += " pace-running", this.el.innerHTML = '<div class="pace-progress">\n  <div class="pace-progress-inner"></div>\n</div>\n<div class="pace-activity"></div>', null != a.firstChild ? a.insertBefore(this.el, a.firstChild) : a.appendChild(this.el)
                }
                return this.el
            }, a.prototype.finish = function () {
                var a;
                return a = this.getElement(), a.className = a.className.replace("pace-active", ""), a.className += " pace-inactive", document.body.className = document.body.className.replace("pace-running", ""), document.body.className += " pace-done"
            }, a.prototype.update = function (a) {
                return this.progress = a, this.render()
            }, a.prototype.destroy = function () {
                try {
                    this.getElement().parentNode.removeChild(this.getElement())
                } catch (a) {
                    i = a
                }
                return this.el = void 0
            }, a.prototype.render = function () {
                var a, b, c, d, e, f, g;
                if (null == document.querySelector(D.target))return !1;
                for (a = this.getElement(), d = "translate3d(" + this.progress + "%, 0, 0)", g = ["webkitTransform", "msTransform", "transform"], e = 0, f = g.length; f > e; e++)b = g[e], a.children[0].style[b] = d;
                return (!this.lastRenderedProgress || this.lastRenderedProgress | 0 !== this.progress | 0) && (a.children[0].setAttribute("data-progress-text", "" + (0 | this.progress) + "%"), this.progress >= 100 ? c = "99" : (c = this.progress < 10 ? "0" : "", c += 0 | this.progress), a.children[0].setAttribute("data-progress", "" + c)), this.lastRenderedProgress = this.progress
            }, a.prototype.done = function () {
                return this.progress >= 100
            }, a
        }(), h = function () {
            function a() {
                this.bindings = {}
            }

            return a.prototype.trigger = function (a, b) {
                var c, d, e, f, g;
                if (null != this.bindings[a]) {
                    for (f = this.bindings[a], g = [], d = 0, e = f.length; e > d; d++)c = f[d], g.push(c.call(this, b));
                    return g
                }
            }, a.prototype.on = function (a, b) {
                var c;
                return null == (c = this.bindings)[a] && (c[a] = []), this.bindings[a].push(b)
            }, a
        }(), P = window.XMLHttpRequest, O = window.XDomainRequest, N = window.WebSocket, w = function (a, b) {
            var c, d, e, f;
            f = [];
            for (d in b.prototype)try {
                e = b.prototype[d], f.push(null == a[d] && "function" != typeof e ? a[d] = e : void 0)
            } catch (g) {
                c = g
            }
            return f
        }, A = [], j.ignore = function () {
            var a, b, c;
            return b = arguments[0], a = 2 <= arguments.length ? X.call(arguments, 1) : [], A.unshift("ignore"), c = b.apply(null, a), A.shift(), c
        }, j.track = function () {
            var a, b, c;
            return b = arguments[0], a = 2 <= arguments.length ? X.call(arguments, 1) : [], A.unshift("track"), c = b.apply(null, a), A.shift(), c
        }, J = function (a) {
            var b;
            if (null == a && (a = "GET"), "track" === A[0])return "force";
            if (!A.length && D.ajax) {
                if ("socket" === a && D.ajax.trackWebSockets)return !0;
                if (b = a.toUpperCase(), $.call(D.ajax.trackMethods, b) >= 0)return !0
            }
            return !1
        }, k = function (a) {
            function b() {
                var a, c = this;
                b.__super__.constructor.apply(this, arguments), a = function (a) {
                    var b;
                    return b = a.open, a.open = function (d, e) {
                        return J(d) && c.trigger("request", {type: d, url: e, request: a}), b.apply(a, arguments)
                    }
                }, window.XMLHttpRequest = function (b) {
                    var c;
                    return c = new P(b), a(c), c
                };
                try {
                    w(window.XMLHttpRequest, P)
                } catch (d) {
                }
                if (null != O) {
                    window.XDomainRequest = function () {
                        var b;
                        return b = new O, a(b), b
                    };
                    try {
                        w(window.XDomainRequest, O)
                    } catch (d) {
                    }
                }
                if (null != N && D.ajax.trackWebSockets) {
                    window.WebSocket = function (a, b) {
                        var d;
                        return d = null != b ? new N(a, b) : new N(a), J("socket") && c.trigger("request", {
                            type: "socket",
                            url: a,
                            protocols: b,
                            request: d
                        }), d
                    };
                    try {
                        w(window.WebSocket, N)
                    } catch (d) {
                    }
                }
            }

            return Z(b, a), b
        }(h), R = null, y = function () {
            return null == R && (R = new k), R
        }, I = function (a) {
            var b, c, d, e;
            for (e = D.ajax.ignoreURLs, c = 0, d = e.length; d > c; c++)if (b = e[c], "string" == typeof b) {
                if (-1 !== a.indexOf(b))return !0
            } else if (b.test(a))return !0;
            return !1
        }, y().on("request", function (b) {
            var c, d, e, f, g;
            return f = b.type, e = b.request, g = b.url, I(g) ? void 0 : j.running || D.restartOnRequestAfter === !1 && "force" !== J(f) ? void 0 : (d = arguments, c = D.restartOnRequestAfter || 0, "boolean" == typeof c && (c = 0), setTimeout(function () {
                var b, c, g, h, i, k;
                if (b = "socket" === f ? e.readyState < 2 : 0 < (h = e.readyState) && 4 > h) {
                    for (j.restart(), i = j.sources, k = [], c = 0, g = i.length; g > c; c++) {
                        if (K = i[c], K instanceof a) {
                            K.watch.apply(K, d);
                            break
                        }
                        k.push(void 0)
                    }
                    return k
                }
            }, c))
        }), a = function () {
            function a() {
                var a = this;
                this.elements = [], y().on("request", function () {
                    return a.watch.apply(a, arguments)
                })
            }

            return a.prototype.watch = function (a) {
                var b, c, d, e;
                return d = a.type, b = a.request, e = a.url, I(e) ? void 0 : (c = "socket" === d ? new n(b) : new o(b), this.elements.push(c))
            }, a
        }(), o = function () {
            function a(a) {
                var b, c, d, e, f, g, h = this;
                if (this.progress = 0, null != window.ProgressEvent)for (c = null, a.addEventListener("progress", function (a) {
                    return h.progress = a.lengthComputable ? 100 * a.loaded / a.total : h.progress + (100 - h.progress) / 2
                }, !1), g = ["load", "abort", "timeout", "error"], d = 0, e = g.length; e > d; d++)b = g[d], a.addEventListener(b, function () {
                    return h.progress = 100
                }, !1); else f = a.onreadystatechange, a.onreadystatechange = function () {
                    var b;
                    return 0 === (b = a.readyState) || 4 === b ? h.progress = 100 : 3 === a.readyState && (h.progress = 50), "function" == typeof f ? f.apply(null, arguments) : void 0
                }
            }

            return a
        }(), n = function () {
            function a(a) {
                var b, c, d, e, f = this;
                for (this.progress = 0, e = ["error", "open"], c = 0, d = e.length; d > c; c++)b = e[c], a.addEventListener(b, function () {
                    return f.progress = 100
                }, !1)
            }

            return a
        }(), d = function () {
            function a(a) {
                var b, c, d, f;
                for (null == a && (a = {}), this.elements = [], null == a.selectors && (a.selectors = []), f = a.selectors, c = 0, d = f.length; d > c; c++)b = f[c], this.elements.push(new e(b))
            }

            return a
        }(), e = function () {
            function a(a) {
                this.selector = a, this.progress = 0, this.check()
            }

            return a.prototype.check = function () {
                var a = this;
                return document.querySelector(this.selector) ? this.done() : setTimeout(function () {
                    return a.check()
                }, D.elements.checkInterval)
            }, a.prototype.done = function () {
                return this.progress = 100
            }, a
        }(), c = function () {
            function a() {
                var a, b, c = this;
                this.progress = null != (b = this.states[document.readyState]) ? b : 100, a = document.onreadystatechange, document.onreadystatechange = function () {
                    return null != c.states[document.readyState] && (c.progress = c.states[document.readyState]), "function" == typeof a ? a.apply(null, arguments) : void 0
                }
            }

            return a.prototype.states = {loading: 0, interactive: 50, complete: 100}, a
        }(), f = function () {
            function a() {
                var a, b, c, d, e, f = this;
                this.progress = 0, a = 0, e = [], d = 0, c = C(), b = setInterval(function () {
                    var g;
                    return g = C() - c - 50, c = C(), e.push(g), e.length > D.eventLag.sampleCount && e.shift(), a = q(e), ++d >= D.eventLag.minSamples && a < D.eventLag.lagThreshold ? (f.progress = 100, clearInterval(b)) : f.progress = 100 * (3 / (a + 3))
                }, 50)
            }

            return a
        }(), m = function () {
            function a(a) {
                this.source = a, this.last = this.sinceLastUpdate = 0, this.rate = D.initialRate, this.catchup = 0, this.progress = this.lastProgress = 0, null != this.source && (this.progress = F(this.source, "progress"))
            }

            return a.prototype.tick = function (a, b) {
                var c;
                return null == b && (b = F(this.source, "progress")), b >= 100 && (this.done = !0), b === this.last ? this.sinceLastUpdate += a : (this.sinceLastUpdate && (this.rate = (b - this.last) / this.sinceLastUpdate), this.catchup = (b - this.progress) / D.catchupTime, this.sinceLastUpdate = 0, this.last = b), b > this.progress && (this.progress += this.catchup * a), c = 1 - Math.pow(this.progress / 100, D.easeFactor), this.progress += c * this.rate * a, this.progress = Math.min(this.lastProgress + D.maxProgressPerFrame, this.progress), this.progress = Math.max(0, this.progress), this.progress = Math.min(100, this.progress), this.lastProgress = this.progress, this.progress
            }, a
        }(), L = null, H = null, r = null, M = null, p = null, s = null, j.running = !1, z = function () {
            return D.restartOnPushState ? j.restart() : void 0
        }, null != window.history.pushState && (T = window.history.pushState, window.history.pushState = function () {
            return z(), T.apply(window.history, arguments)
        }), null != window.history.replaceState && (W = window.history.replaceState, window.history.replaceState = function () {
            return z(), W.apply(window.history, arguments)
        }), l = {ajax: a, elements: d, document: c, eventLag: f}, (B = function () {
            var a, c, d, e, f, g, h, i;
            for (j.sources = L = [], g = ["ajax", "elements", "document", "eventLag"], c = 0, e = g.length; e > c; c++)a = g[c], D[a] !== !1 && L.push(new l[a](D[a]));
            for (i = null != (h = D.extraSources) ? h : [], d = 0, f = i.length; f > d; d++)K = i[d], L.push(new K(D));
            return j.bar = r = new b, H = [], M = new m
        })(), j.stop = function () {
            return j.trigger("stop"), j.running = !1, r.destroy(), s = !0, null != p && ("function" == typeof t && t(p), p = null), B()
        }, j.restart = function () {
            return j.trigger("restart"), j.stop(), j.start()
        }, j.go = function () {
            var a;
            return j.running = !0, r.render(), a = C(), s = !1, p = G(function (b, c) {
                var d, e, f, g, h, i, k, l, n, o, p, q, t, u, v, w;
                for (l = 100 - r.progress, e = p = 0, f = !0, i = q = 0, u = L.length; u > q; i = ++q)for (K = L[i], o = null != H[i] ? H[i] : H[i] = [], h = null != (w = K.elements) ? w : [K], k = t = 0, v = h.length; v > t; k = ++t)g = h[k], n = null != o[k] ? o[k] : o[k] = new m(g), f &= n.done, n.done || (e++, p += n.tick(b));
                return d = p / e, r.update(M.tick(b, d)), r.done() || f || s ? (r.update(100), j.trigger("done"), setTimeout(function () {
                    return r.finish(), j.running = !1, j.trigger("hide")
                }, Math.max(D.ghostTime, Math.max(D.minTime - (C() - a), 0)))) : c()
            })
        }, j.start = function (a) {
            v(D, a), j.running = !0;
            try {
                r.render()
            } catch (b) {
                i = b
            }
            return document.querySelector(".pace") ? (j.trigger("start"), j.go()) : setTimeout(j.start, 50)
        }, "function" == typeof define && define.amd ? define(function () {
            return j
        }) : "object" == typeof exports ? module.exports = j : D.startOnPageLoad && j.start()
    }).call(this);
    </script>
    <style>
        .pace {
            -webkit-pointer-events: none;
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .pace-inactive {
            display: none;
        }

        .pace .pace-progress {
            background: #29d;
            position: fixed;
            z-index: 2000;
            top: 0;
            right: 100%;
            width: 100%;
            height: 2px;
        }

        .pace .pace-progress-inner {
            display: block;
            position: absolute;
            right: 0px;
            width: 100px;
            height: 100%;
            box-shadow: 0 0 10px #29d, 0 0 5px #29d;
            opacity: 1.0;
            -webkit-transform: rotate(3deg) translate(0px, -4px);
            -moz-transform: rotate(3deg) translate(0px, -4px);
            -ms-transform: rotate(3deg) translate(0px, -4px);
            -o-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px);
        }

        .pace .pace-activity {
            display: block;
            position: fixed;
            z-index: 2000;
            top: 15px;
            right: 15px;
            width: 14px;
            height: 14px;
            border: solid 2px transparent;
            border-top-color: #29d;
            border-left-color: #29d;
            border-radius: 10px;
            -webkit-animation: pace-spinner 400ms linear infinite;
            -moz-animation: pace-spinner 400ms linear infinite;
            -ms-animation: pace-spinner 400ms linear infinite;
            -o-animation: pace-spinner 400ms linear infinite;
            animation: pace-spinner 400ms linear infinite;
        }

        @-webkit-keyframes pace-spinner {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @-moz-keyframes pace-spinner {
            0% {
                -moz-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -moz-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @-o-keyframes pace-spinner {
            0% {
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @-ms-keyframes pace-spinner {
            0% {
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes pace-spinner {
            0% {
                transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

    </style>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style-library-1.css" rel="stylesheet">
    <link href="css/blocks.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://npmcdn.com/particlesjs@1.0.2/dist/particles.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/ng-csv.min.js"></script>

    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7qBJy-453qS9XBAA8ksudZJCxhG6kB10">
    </script>
    <script>
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        Number.prototype.map = function (in_min, in_max, out_min, out_max) {
            return (this - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;
        }
        Array.prototype.transpose = function () {
            var a = this,
                w = a.length ? a.length : 0,
                h = a[0] instanceof Array ? a[0].length : 0;
            if (h === 0 || w === 0) {
                return [];
            }
            var i, j, t = [];
            for (i = 0; i < h; i++) {
                t[i] = [];
                for (j = 0; j < w; j++) {
                    t[i][j] = a[j][i];
                }
            }
            return t;
        };
        var app = angular.module('Destination', ['ngSanitize', 'ngCsv']);
        app.controller('simCtrl', function ($scope) {
            $scope.km = "1";
            $scope.highways = false;
            $scope.tolls = false;
            $scope.calcButton = false;
            $scope.orgins = "";
            $scope.orginsText = "";
            $scope.dest = "";
            $scope.orgin = "";
            $scope.showMap = true;
            $scope.weight = "";

            var distanceMatrixService = new google.maps.DistanceMatrixService;
            var directionsService = new google.maps.DirectionsService();

            function calcIt(orgin, dest, titles, destIndex, orgIndex, out) {
                Pace.restart();
                distanceMatrixService.getDistanceMatrix({
                    origins: [orgin[orgIndex]],
                    destinations: dest[destIndex],
                    travelMode: 'DRIVING',
                    unitSystem: google.maps.UnitSystem.METRIC,
                    avoidHighways: $scope.highways,
                    avoidTolls: $scope.tolls
                }, function (response, status) {
                    if (status !== 'OK') {
                        alert('Error was: ' + status);
                        $scope.calcButton = false;
                        $scope.output = [];
                        $scope.$apply();
                    } else {
                        var elements = response.rows[0].elements;
                        var destText = "";
                        for (var i = 0; i < elements.length; i++) {
                            destText += (($scope.km == '1') ? Math.round(elements[i].distance.value / 1000) : elements[i].distance.value) + '\n';
                        }
                        out.dest += destText;


                        if (!$scope.oneToOne && destIndex < dest.length - 1)
                            setTimeout(function () {
                                calcIt(orgin, dest, titles, destIndex + 1, orgIndex, out)
                            }, getRandomInt(500, 3000));
                        else {
                            $scope.output.push(out);
                            $scope.$apply();
                            if (orgIndex < orgin.length - 1) {
                                setTimeout(function () {
                                    calcIt(orgin, dest, titles, ($scope.oneToOne) ? orgIndex + 1 : 0, orgIndex + 1, {
                                        name: titles[orgIndex + 1],
                                        dest: ""
                                    })
                                }, getRandomInt(1000, 3000));
                            } else {
                                $scope.calcButton = false;
                                $scope.$apply();
                            }
                        }
                    }
                });
            }

            function calcWithMap(orginArr, destArr, orginNames, destIndex, orgIndex, ret, out) {
                Pace.restart();

                directionsService.route({
                    origin: orginArr[orgIndex],
                    destination: destArr[destIndex],
                    travelMode: 'DRIVING',
                    unitSystem: google.maps.UnitSystem.METRIC,
                    avoidHighways: $scope.highways,
                    avoidTolls: $scope.tolls
                }, function (result, status) {
                    if (status !== 'OK') {
                        alert('Error was: ' + status);
                        $scope.calcButton = false;
                        $scope.output = [];
                        $scope.$apply();
                    } else {
                        var destLatLng = encodeURI(result.routes[0].legs[0].end_location.lat() + "," + result.routes[0].legs[0].end_location.lng());
                        var staticMap = "http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyA7qBJy-453qS9XBAA8ksudZJCxhG6kB10&size=500x400&markers=color:red%7Clabel:A|" + encodeURI(result.routes[0].legs[0].start_location.lat() + "," + result.routes[0].legs[0].start_location.lng()) + "&markers=color:blue%7Clabel:B|" + destLatLng + "&path=weight:4|color:red|enc:" + encodeURI(result.routes[0].overview_polyline);
                        var destVal = result.routes[0].legs[0].distance.value;
                        destVal = (($scope.km == '1') ? Math.round(destVal / 1000) : destVal) + '\n';
                        ret.push({
                            name: orginNames[orgIndex],
                            dest: destVal,
                            staticMap: staticMap,
                            time: result.routes[0].legs[0].duration.text,
                            destName: destArr[destIndex],
                            weight: ($scope.weightArr && $scope.weightArr[destIndex]) ? $scope.weightArr[destIndex] : -1,
                            destLatLng: destLatLng
                        });
                        out.dest += destVal;

                        if (!$scope.oneToOne && destIndex < destArr.length - 1)
                            setTimeout(function () {
                                calcWithMap(orginArr, destArr, orginNames, destIndex + 1, orgIndex, ret, out)
                            }, getRandomInt(1000, 3000));
                        else {
                            $scope.output.push(out);
                            $scope.$apply();

                            if (orgIndex < orginArr.length - 1) {
                                setTimeout(function () {
                                    calcWithMap(orginArr, destArr, orginNames, ($scope.oneToOne) ? orgIndex + 1 : 0, orgIndex + 1, ret, {
                                        name: orginNames[orgIndex + 1],
                                        dest: ""
                                    })
                                }, getRandomInt(1000, 5000));
                            } else {
                                $scope.outWithMap = ret;
                                $scope.calcButton = false;
                                $scope.$apply();
                            }
                        }
                    }
                });
            }

            $scope.calc = function () {
                $scope.output = [];
                $scope.outTable = [];
                if (!$scope.orgin.length || !$scope.dest.length) {
                    alert("Origins/Destinations can't be empty!");
                    return;
                }
                var orginArr = $scope.orgin.split(/\r?\n/g);
                var destArr = $scope.dest.split(/\r?\n/g);
                var weightArr = $scope.weight.split(/\r?\n/g);
                $scope.weightArr = weightArr;
                if ($scope.orginsText.length && orginArr.length != $scope.orginsText.split(/\r?\n/g).length) {
                    alert("Origin title should be for every Origin [# of lines]!");
                    return;
                }
                if ($scope.oneToOne && orginArr.length != destArr.length) {
                    alert("Number of Origins should equal the number of Destinations");
                    return;
                }
                if (weightArr.length > 1 && weightArr.length != destArr.length) {
                    alert("Number of weights should equal the number of Destinations");
                    return;
                }
                if (weightArr.length) {
                    $scope.weightMax = Math.max.apply(Math, weightArr);
                    $scope.weightMin = Math.min.apply(Math, weightArr);
                }
                if (!$scope.orginsText.length)
                    $scope.orginsText = $scope.orgin;
                $scope.orgins = $scope.orginsText.split(/\r?\n/g);

                $scope.destArr = destArr.slice();
                $scope.calcButton = true;
                if (!$scope.showMap) {
                    var dest = [];
                    while (destArr.length) {
                        dest.push(destArr.splice(0, ($scope.oneToOne) ? 1 : 5));
                    }
                    calcIt(orginArr, dest, $scope.orgins, 0, 0, {
                        name: $scope.orgins[0],
                        dest: ""
                    });
                } else {
                    var ret = [];
                    calcWithMap(orginArr, destArr, $scope.orgins, 0, 0, ret, {
                        name: $scope.orgins[0],
                        dest: ""
                    });
                }
            }

            $scope.getOutput = function () {
                var output = $scope.output;

                if ($scope.oneToOne) {
                    var ret = [["Origin", "Destination", "Distance"]];
                    if ($scope.showMap)
                        ret[0].push("Map");

                    for (var j = 0; j < output.length; j++) {
                        var arr = [$scope.orgins[j], $scope.destArr[j], output[j].dest];
                        if ($scope.showMap)
                            arr.push($scope.outWithMap[j].staticMap);
                        ret.push(arr);
                    }
                    return ret;
                }
                var dests = [];
                for (var j = 0; j < output.length; j++) {
                    var items = output[j].dest.split(/\r?\n/g);
                    dests.push((items[items.length - 1].length == 0) ? items.slice(0, items.length - 1) : items);
                }
                var transposed = dests.transpose();
                transposed.unshift($scope.orgins.slice());
                transposed[0].unshift("Dest/Origin");
                for (var i = 1; i < transposed.length; i++) {
                    transposed[i].unshift($scope.destArr[i - 1]);
                }
                if ($scope.showMap) {
                    transposed[0] = transposed[0].concat($scope.orgins.slice());
                    for (var i = 1; i < transposed.length; i++) {
                        var arr = [];
                        for (var j = 0; j < $scope.orgins.length; j++) {
                            arr.push($scope.outWithMap[$scope.orgins.length * (i - 1) + j].staticMap);
                        }
                        transposed[i] = transposed[i].concat(arr);
                    }
                }
                return transposed;
            }
            var theWindow;
            $scope.showTable = function () {
                $scope.outTable = $scope.getOutput();
                var table = "<table><thead><tr>";
                for (var i = 0; i < $scope.outTable[0].length; i++) {
                    table += "<th>" + $scope.outTable[0][i] + "</th>";
                }
                table += "</tr></thead><tbody>";
                for (var j = 1; j < $scope.outTable.length; j++) {
                    table += "<tr>";
                    for (var i = 0; i < $scope.outTable[j].length; i++) {
                        if ($scope.outTable[j][i].indexOf("maps.googleapis") !== -1)
                            table += "<td><img src='" + $scope.outTable[j][i] + "' /></td>";
                        else
                            table += "<td>" + $scope.outTable[j][i] + "</td>";
                    }
                    table += "</tr>";
                }
                table += "</tbody></table>";
                if (theWindow)
                    theWindow.close();
                theWindow = window.open("", "Table");
                theWindow.document.write("<html><head><title>Table</title><style> table { font-family: arial, sans-serif; border-collapse: collapse; width: 100%; } td, th { border: 1px solid #dddddd; text-align: left; padding: 8px; } tr:nth-child(even) { background-color: #dddddd; } </style></head><body>" + table + " <script>document.onreadystatechange = function(){ if(document.readyState === 'complete'){window.print();} }\x3C/script></body></html>");
                theWindow.document.close();
            }

            $scope.showReport = function () {
                $scope.outWithMap
                var table = "<table><tbody>";
//                last = "";
                for (var j = 0; j < $scope.outWithMap.length; j++) {
//                    if ($scope.outWithMap[j].name != last) {
//                        table += "<tr><td colspan='2'><h3 align='center'>Route and Distance from " + $scope.outWithMap[j].name + " to Multiple Destinations</h3></td></tr>";
//                        last = $scope.outWithMap[j].name;
//                    }
                    table += "<tr>";
                    table += "<td>Drive " + $scope.outWithMap[j].dest + (($scope.km == '1') ? " Km,  " : " Meter,  ") + $scope.outWithMap[j].time + "</br></br>" + "<img src='icons/red_MarkerA.png' />  " + $scope.outWithMap[j].name + "</br>" + "<img src='icons/blue_MarkerB.png' />  " + $scope.outWithMap[j].destName + "</br><a href='http://www.google.com.eg/maps/dir/" + encodeURI($scope.outWithMap[j].name) + "/" + encodeURI($scope.outWithMap[j].destName) + "'>Source</a></td>";

                    var staticMap = $scope.outWithMap[j].staticMap.replace("500x400", "650x800");
                    table += "<td><img src='" + staticMap + "' /></td>";


                    table += "</tr>";
                }
                table += "</tbody></table>";
                if (theWindow)
                    theWindow.close();
                theWindow = window.open("", "Report");
                theWindow.document.write("<html><head><title>Report</title><style> table { font-family: arial, sans-serif; border-collapse: collapse; width: 100%; } td, th { border: 1px solid #dddddd; text-align: left; padding: 8px; } tr:nth-child(even) { background-color: #fbfbfb; } </style></head><body>" + table + " <script>document.onreadystatechange = function(){ if(document.readyState === 'complete'){window.print();} }\x3C/script></body></html>");
                theWindow.document.close();
                theWindow.focus();
            }

            $scope.showReportIframe = function () {
                $scope.outWithMap
                var table = "<table><tbody>";
//                last = "";
                for (var j = 0; j < $scope.outWithMap.length; j++) {
//                    if ($scope.outWithMap[j].name != last) {
//                        table += "<tr><td colspan='2'><br><h3 align='center'>Route and Distance from " + $scope.outWithMap[j].name + " to Multiple Destinations</h3></td></tr>";
//                        last = $scope.outWithMap[j].name;
//                    }
                    table += "<tr>";
                    table += "<td>Drive " + $scope.outWithMap[j].dest + (($scope.km == '1') ? " Km,  " : " Meter,  ") + $scope.outWithMap[j].time + "</br></br>" + "<img src='icons/red_MarkerA.png' />  " + $scope.outWithMap[j].name + "</br>" + "<img src='icons/blue_MarkerB.png' />  " + $scope.outWithMap[j].destName + "</br></td>";
                    var avoid = $scope.highways && $scope.tolls ? "&avoid=tolls|highways" : $scope.highways ? "&avoid=highways" : $scope.tolls ? "&avoid=tolls" : "";
                    table += "<td><iframe src='https://www.google.com/maps/embed/v1/directions?key=AIzaSyA7qBJy-453qS9XBAA8ksudZJCxhG6kB10&units=metric&mode=driving&origin=" + encodeURI($scope.outWithMap[j].name) + "&destination=" + encodeURI($scope.outWithMap[j].destName) + avoid + "' width=\"650\" height=\"670\" frameborder=\"0\" style=\"border:0\" allowfullscreen></iframe></td>";

                    table += "</tr>";
                }
                table += "</tbody></table>";
                if (theWindow)
                    theWindow.close();
                theWindow = window.open("", "Report");
                theWindow.document.write("<html><head><title>Report</title><style> table { font-family: arial, sans-serif; border-collapse: collapse; width: 100%; } td, th { border: 1px solid #dddddd; text-align: left; padding: 8px; } tr:nth-child(even) { background-color: #fbfbfb; } </style></head><body>" + table + "</body></html>");
                theWindow.document.close();
                theWindow.focus();
            }

            $scope.showReportAllPins = function () {
                $scope.outWithMap
                var table = "<table><tbody>";
//                last = "";
                for (var j = 0; j < $scope.outWithMap.length; j++) {
//                    if ($scope.outWithMap[j].name != last) {
//                        table += "<tr><td colspan='2'><h3 align='center'>Route and Distance from " + $scope.outWithMap[j].name + " to Multiple Destinations</h3></td></tr>";
//                        last = $scope.outWithMap[j].name;
//                    }
                    table += "<tr>";
                    table += "<td>Drive " + $scope.outWithMap[j].dest + (($scope.km == '1') ? " Km,  " : " Meter,  ") + $scope.outWithMap[j].time + "</br></br>" + "<img src='icons/red_MarkerA.png' />  " + $scope.outWithMap[j].name + "</br>" + "<img src='icons/blue_MarkerB.png' />  " + $scope.outWithMap[j].destName + "</br><a href='http://www.google.com.eg/maps/dir/" + encodeURI($scope.outWithMap[j].name) + "/" + encodeURI($scope.outWithMap[j].destName) + "'>Source</a></td>";

                    var staticMap = $scope.outWithMap[j].staticMap.replace("500x400", "650x800");
                    for (var i = 0; i < $scope.outWithMap.length; i++) {
                        if (i == j)
                            continue;

                        var color = function () {
                            var map = (isNaN($scope.outWithMap[i].weight)) ? "" : parseInt($scope.outWithMap[i].weight).map(parseInt($scope.weightMin), parseInt($scope.weightMax), 0, 3);
                            switch (Math.round(map)) {
//                                case 0:
//                                    return "0x0033FF";
//                                case 1:
//                                    return "0x0033CC";
//                                case 2:
//                                    return "0x003399";
//                                case 3:
//                                    return "0x003333";
                                default:
                                    return "0x00b3ff";
                            }
                        };
                        staticMap += "&markers=size:tiny|color:" + color() + "|" + $scope.outWithMap[i].destLatLng;
                    }
                    table += "<td><img src='" + staticMap + "' /></td>";


                    table += "</tr>";
                }
                table += "</tbody></table>";
                if (theWindow)
                    theWindow.close();
                theWindow = window.open("", "Report");
                theWindow.document.write("<html><head><title>Report</title><style> table { font-family: arial, sans-serif; border-collapse: collapse; width: 100%; } td, th { border: 1px solid #dddddd; text-align: left; padding: 8px; } tr:nth-child(even) { background-color: #fbfbfb; } </style></head><body>" + table + " <script>document.onreadystatechange = function(){ if(document.readyState === 'complete'){window.print();} }\x3C/script></body></html>");
                theWindow.document.close();
                theWindow.focus();
            }
            $scope.resetAll = function () {
                $scope.output = [];
                $scope.outTable = [];
                $scope.outWithMap = [];
            }
        });

        window.onload = function () {
            Particles.init({
                selector: '#myCanvas',
                color: '#ffffff',
                connectParticles: true,
                minDistance: 140
            });
        };

    </script>
    <style>
        html, body {
            margin: 0;
        }

        #myCanvas {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: 0;
        }


    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
</head>
<body>
<canvas id="myCanvas"></canvas>

<header id="header-3" class="soft-scroll header-3">
    <section class="hero">
        <div class="container table-responsive">
            <div class="brand">
                <a href="#" class="white clouds-hover text-capitalize lead" data-animation-2
                   data-animation-trigger-2="load" data-animation-type-2="pulse">Destination</a>
            </div>
            <div class="col-md-8 col-md-offset-2 text-center" data-animation-1 data-animation-trigger-1="load"
                 data-animation-type-1="fadeIn">
                <div class="editContent">
                    <h3 class="clouds">Origins [Each in a line ]<br></h3>
                </div>
                <div class="editContent">
                    <div class="form-group">
                       <textarea class="form-control" rows="3" name="orgin" ng-model="orgin">
</textarea>
                    </div>
                    <div class="editContent">
                        <i class="clouds">Origins Title (optional)<br></i>
                    </div>
                    <div class="editContent">
                        <div class="form-group">
                       <textarea class="form-control" rows="3" name="orgin" ng-model="orginsText"
                       >
</textarea>
                        </div>
                        <div class="form-group">
                            <h3 class="control-label clouds">Destinations</h3>
                            <textarea class="form-control" rows="3" name="dest" ng-model="dest">
</textarea>
                        </div>

                        <div class="form-group" ng-show="showMap">
                            <i class="control-label clouds">Weights [optional]</i>
                            <textarea class="form-control" rows="3" name="weight" ng-model="weight">
</textarea>
                        </div>
                        <div class="form-group well">

                            <span><input type="radio" name="km" ng-model="km" value="1" ng-click="resetAll()"
                                         ng-disabled="calcButton"> Km</span>
                            <span><input type="radio" name="km" ng-model="km" value="0"
                                         ng-click="resetAll()" ng-disabled="calcButton"> Meter</span>
                            <br>
                            <span><input type="checkbox" name="highways" ng-model="highways" ng-click="resetAll()"
                                         ng-disabled="calcButton"> Avoid highways</span>
                            <br>
                            <span><input type="checkbox" name="tolls" ng-model="tolls" ng-click="resetAll()"
                                         ng-disabled="calcButton"> Avoid tolls</span>
                            <br>
                            <span><input type="checkbox" name="showMap" ng-model="showMap" ng-click="resetAll()"
                                         ng-disabled="calcButton"> Show map</span>
                            <br>
                            <span><input type="checkbox" name="oneToOne" ng-model="oneToOne" ng-click="resetAll()"
                                         ng-disabled="calcButton"> One to one</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 text-center">
                    <button class="btn btn-danger btn-block" ng-click="calc()"
                            data-animation-1
                            data-animation-trigger-1="click" data-animation-type-1="pulse"
                            data-animation-to-remove-1="pulse" ng-disabled="calcButton">Calc
                    </button>
                    <button type="button" class="btn btn-success btn-block" ng-csv="getOutput()"
                            filename="destinations.csv"
                            ng-show="!calcButton && output.length">
                        Export to CSV
                    </button>
                    <button type="button" class="btn btn-primary btn-block" ng-click="showTable()"
                            ng-show="!calcButton && output.length">
                        Show table
                    </button>
                    <button type="button" class="btn btn-info btn-block" ng-click="showReport()"
                            ng-show="!calcButton && outWithMap.length">
                        Show Report
                    </button>
                    <button type="button" class="btn btn-default btn-block" ng-click="showReportIframe()"
                            ng-show="!calcButton && outWithMap.length">
                        Show Report [Embedded map]
                    </button>
                    <button type="button" class="btn btn-default btn-block" ng-click="showReportAllPins()"
                            ng-show="!calcButton && outWithMap.length">
                        Show Report [All pins included]
                    </button>
                    <div>
                    </div>
                    <div>
                        <label ng-repeat="o in output" class="well">{{o.name}}
                            <textarea placeholder="output" class="form-control" rows="3" name="output" ng-model="o.dest"
                            >
</textarea></label>
                    </div>
                </div>
            </div>

        </div>
    </section>
</header>


<script type="text/javascript" src="https://cdn.rawgit.com/MhdAljuboori/6ea3a3fa48248e3a132a/raw/animator.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-87845813-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
